wp-content/uploads/
wp-content/cache/
wp-content/upgrades/
wp-content/themes/Divi/
wp-content/themes/Divi-child/
wp-content/plugins/bb-plugin/
wp-content/plugins/broken-link-checker/
wp-content/plugins/child-theme-configurator/
wp-content/plugins/smart-slider-3/
wp-content/plugins/wordpress-seo/
wp-content/plugins/resize-image-after-upload/
wp-content/plugins/revisr/